[submodule "plugins"]
	path = plugins
	url = https://github.com/ahmadassaf/gaudi-bash-plugins
	branch = master
[submodule "aliases"]
	path = aliases
	url = https://github.com/ahmadassaf/gaudi-bash-aliases
	branch = master
[submodule "completions"]
	path = completions
	url = https://github.com/ahmadassaf/gaudi-bash-completions
	branch = master
[submodule "themes"]
	path = themes
	url = https://github.com/ahmadassaf/gaudi-bash-themes
